@model MVC_App_Domain.Models.Lending

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lending</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Book)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_Client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateLending)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateLending)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateGivenBack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateGivenBack)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
